* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 0%,
        #009688 150px,
        #DCDBD3 150px,
        #DCDBD3 100%
    );
    overflow-y: hidden;
}

img {
    max-width: 100%;
    border: 1px solid white;
    border-radius: 90%;
}

li {
    list-style: none;
    padding: 5px;
}

.top, .avviso, .search {
    padding: 5px;
}

.container {
    margin: 40px auto;
    height: calc(100vh - 80px);
    max-width: 80%;
    background-color: white;
    display: flex;
}

.contatti {
    height: 100%;
    width: 35%;
    min-width: 350px;
    background-color: white;
    align-items: flex-start;
}


.chat {
    height: 100%;
    width: 65%;
    background-color: aliceblue;
    background-image: url(../../img/mine.jpg);
    display: flex;
    justify-content: right;
    border-left: 1px solid #DDDDDD;
}

.top {
    height: 90px;
    width: 100%;
    background-color: #EAEAEA;
    display: flex;
    align-items: flex-start;
}

.avviso {
    height: 100px;
    width: 100%;
    background-color: #8EDAFC;
    display: flex;
    align-items: flex-start;
}

.search {
    height: 60px;
    width: 100%;
    background-color: #FAFAFA;
}

.wall {
    height: calc(100% - 250px);
    width: 100%;
    overflow: auto;
}

.wall .user {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: white;
    border: 1px solid #F9F9F9;
    /* debug */
    background-color: yellowgreen;
}

.foto {
    height: 90px;
    width: 90px;
}

.orario {
    width: 60px;
    height: 100%;
    background-color: #8EDAFC;
}
