* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 0%,
        #009688 200px,
        #DCDBD3 200px,
        #DCDBD3 100%
    );
}

.container {
    margin: 40px auto;
    height: calc(100vh - 80px);
    max-width: 80%;
    background-color: white;
    display: flex;
}

.contatti {
    height: 100%;
    width: 35%;
    background-color: white;
    align-items: flex-start;
}


.chat {
    height: 100%;
    width: 65%;
    background-color: aliceblue;
    background-image: url(../../img/mine.jpg);
    display: flex;
    justify-content: right;
    border-left: 1px solid #DDDDDD;
}

.top {
    height: 90px;
    width: 100%;
    background-color: #EAEAEA;
    display: flex;
    align-items: flex-start;
}